/* .instru-div{
	
	width: 100%;
	margin: 0;
	padding-top: 100px;
	align-items:center;
	margin-top: 0px;
	background-color: #ffffff;
	height: auto;
	
}


.prof {
	position: relative;
	overflow: hidden;
	padding: 20px;
	display: block;
	
  }

 

  
  .prof-container {
	padding: 0 10vw;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-behavior: smooth;
	margin-top: -20px;
	background-color: aqua;
}
  
  .prof-container::-webkit-scrollbar {
	display: none;
  }
  
  .prof-card {
	flex: 0 0 auto;
	width: 250px;
	height: 450px;
	margin-right: 40px;
	transition: 0.5s ease;
}


.prof-card:hover {
	transform: scale(1.1);
	cursor: pointer;
 }


.mouv-card:hover {
   transform: scale(1.1);
   cursor: pointer;
}

  
  .prof-image {
	position: relative;
	width: 100%;
	height: 350px;
	overflow: hidden;
  }
  
  .prof-thumb {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  
  
  .prof-info {
	width: 100%;
	height: 100px;
	padding-top: 10px;
  }
  
  .prof-name {
	text-transform: uppercase;
	font-size: medium;
	letter-spacing: 2px;
	color: #000000;
  }
  
  .prof-short-description {
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	opacity: 0.7;
	text-transform: capitalize;
	margin: 5px 0;
	color: #000000;
	font-size: 15px;
  }
  
  
  .pre-btn,
  .nxt-btn {
	border: none;
	width: 6vw;
	height:10%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
	cursor: pointer;
	z-index: 1;
	
  }
  
  .pre-btn {
	left: 0;
	transform: rotate(180deg);
	margin-top: 500px;
    margin-left:0;
  }
  
  .nxt-btn {
	right: 0;
	margin: 0;
	margin-top: 500px;
  }
  


  .pre-btn img,
  .nxt-btn img {
	opacity: 0.4;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
	opacity: 1;
  }
  
  
  


.prof-cta button {
	font-size:15px ;
	font-weight: bolder;
	letter-spacing: 2px;
	margin-top: -85px;
	padding: 15px 45px 15px 45px;
	background:#000000;
	border-radius: 10px;
	color:#ffffff;
	text-transform: uppercase;
	border: 1px solid #000000;
	transition: all .2s;
	margin-left:450px;
	margin-bottom: 85px;
	margin-top: -10px;
	
}


.prof-cta button:hover {
	background: #ffffff;
	color: #000000;
	border: 1px solid #000000;
}




 */


 .product {
	position: relative;
	overflow: hidden;
	padding: 20px;
	margin-top: 50px;
  }
  
  .product-category {
	padding: 0 10vw;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 40px;
	text-transform: capitalize;
  }
  
  .product-container {
	padding: 0 10vw;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-behavior: smooth;
	padding-top: 25px;
	padding-bottom: 30px;
}
  
  .product-container::-webkit-scrollbar {
	display: none;
  }
  
  .product-card {
	margin-top: 0px;
	flex: 0 0 auto;
	width: 250px;
	height: 420px;
	margin-right: 40px;
	background-color: #ffffff;
	transition: 0.5s ease;
	/* border-radius: 20px; */
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); 

  }

  .product-card:hover{
	transform: scale(1.1);
	cursor: pointer;
	box-shadow: 0 0 20px rgba(40, 255, 51, 0.4); 
	
  }
  
  .product-image {
	position: relative;
	width: 100%;
	height: 280px;
	overflow: hidden;
	/* border-radius: 20px; */
  }
  
  .product-thumb {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .discount-tag {
	position: absolute;
	background: #fff;
	padding: 5px;
	border-radius: 5px;
	color: #ff7d7d;
	right: 10px;
	top: 10px;
	text-transform: capitalize;
  }
  
  .card-btn {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	width: 90%;
	text-transform: capitalize;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 5px;
	transition: 0.5s;
	cursor: pointer;
	opacity: 0;
	letter-spacing: 1.4px;
	text-transform: uppercase;
  }
  
  .product-card:hover .card-btn {
	opacity: 1;
  }
  
  .card-btn:hover {
	background: #000000;
	color: #ffffff;
	font-weight: bolder;
  }
  
  .product-info {
	width: 100%;
	height: 100px;
	padding-top: 2px;
	padding-left: 5px;
  }
  
  .product-brand {
	text-transform: uppercase;
	line-height: 100%;
	font-weight: 400;
  }
  
  .product-short-description {
	width: 100%;
	height: 20px;
	line-height: 10px;
	overflow: hidden;
	opacity: 0.5;
	text-transform: capitalize;
	margin: 5px 0;
  }
  
  .price {
	font-weight: 900;
	font-size: 25px;
	color: rgb(0, 0, 0);
  }
  
  .actual-price {
	margin-left: 20px;
	opacity: 0.5;
	text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
	border: none;
	width: 10vw;
	height: 100%;
	position: absolute;
	top: 4%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #c7ffca 100%);
	cursor: pointer;
	z-index: 8;
  }
  
  .pre-btn {
	left: 0;
	transform: rotate(180deg);
  }
  
  .nxt-btn {
	right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
	opacity: 0.9;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
	opacity: 1;
  }