.header {
    padding: 0.7rem;
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .logo img {
    width: 12%;
    margin-left: -1%;
  }
  
  .logo h1 {
    font-weight: 100;
    color: #236116;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 30px;
    margin-left: -7px;
  }
  
  .navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
  }
  
  .nav-links ul {
    display: flex;
    gap: 2rem;
    font-weight: 500;
    list-style: none;
  }

  .nav-links li{
    cursor: pointer;
  }
  
  .nav-links li {
    position: relative;
  }

  .nav-links li:hover{
    color: #37c51a;
  }

  .nav-links li::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color:#347a26;
    transition: width 0.3s ease-in-out;
  }
  
  .nav-links li:hover::before {
    width: calc(100% - 5px);
  }
  
  .collection-link{
    color:#37c51a
  }

  .search input[type="text"] {
    width: 80%;
    padding: 0.5rem 2rem 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #666;
    background-color: #f5f5f5;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .search input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 2px #60c74b;
  }
  
  .search:before {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.2rem;
    color: #999;
  }
  