.hero-container{
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
    /* margin-top: 100px; */
    
    
}

.wrapper{
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
}

.wrapper img{
    width: 49rem;
    position: absolute;
    bottom: -10px;
}

.blueCircle{
    width: 29rem;
    height: 29rem;
    border-radius: 50%;
    z-index: -99;
    position: absolute;
    bottom: 0;
    background: linear-gradient(135.74deg ,#2f691d 14.09%, #60d33d 83.81%);
}

.cart2{
    position: absolute;
    bottom: 40%;
    right: 5%;
    display: flex;
    gap: 1rem;
    align-items: center;
    
}

.cart2>svg{
    width: 30px;
    height: 30px;
    background: white;
    padding: 10px;
    border-radius: 50%;
    border: 6px solid black;
}


.signup{
    display: flex;
    align-items: center;
    gap:1rem;
    background: white;
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 15px;
    box-shadow: 0px 13px 48px -1px rgba(0,0,0,0.5);
}
.signup>:first-child{
    display: block;
    width: 6rem;
}
.signup>:nth-child(2)
{
    border-radius: 50%;
    border: 1px solid skyblue;
    display: flex;
    width: 20px;
    height: 20px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.h_sides{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.text1{
    text-transform: uppercase;
    font-size: 1.5rem;
    width: min-content;
    display: block;
    font-weight: 600;
    margin-bottom:110px;
}

.text2{
    display: flex;
    flex-direction: column;
    width: min-content;
    color: black;
}

.text2>:first-child{
    font-weight: 800;
    font-size: 2.5rem;
    color: #006b05;
}

.text2>:nth-child(2){
    display: block;
     line-height: 200%;
     width: 120%;

}

.traffic{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.traffic>:first-child{
    font-weight: 800;
    font-size: 2.5rem;
    color: #006b05;
}

.customers{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.customers>:first-child{
    font-weight: 800;
    text-align: right;
    font-size: 2.5rem;
}

.nos-produits{
    font-size: 18px;
	text-transform: capitalize;
	text-align: center;
	color: #000000;
	margin-bottom: 90px;
    justify-content: center;
    margin-top: 0px;
    line-height: 0%;

    


}